.message {
  $message: &;
  display: flex;
  justify-content: flex-start;
  width: 63rem;
  font-size: 17px;
  color: white;
  text-align: left;
  margin: 1px 0;
  padding: 4px;
  overflow: auto;
  &-bubble {
    margin-bottom: 10px;
    border-radius: 12px 12px 12px 0;
    padding: 1.2rem 0.7rem 1.2rem 0.5rem;
    width: fit-content;
    background-color: rgb(121, 113, 113);
    &--isme {
      border-radius: 12px 12px 0 12px;
      background-color: rgba(79, 199, 79, 0.808);
      text-align: right;
      padding: 1.2rem 0.5rem 1.2rem 0.7rem;
    }
  }
  &-block {
    display: flex;
    flex-direction: column;
  }
  &-time {
    margin: 0 10px;
    display: flex;
    &--isme {
      flex-direction: row-reverse;
    }
  }
  &--isme {
    flex-direction: row-reverse;
  }
  &-author {
    margin-top: 25px;
    font-size: 13px;
    color: #fafafa;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    line-break: auto;
    padding: 4px;
    border-radius: 15px;
    margin-right: 7px;
    &--isme {
      margin-right: 0;
      margin-left: 7px;
      background-color: rgb(14, 87, 170);
    }
  }
  &-notification {
    margin: auto;
    margin-top: 5px;
    max-width: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(121, 113, 113);
  }
}
