.messages {
  background-color: rgba(204, 238, 255, 0.616);
  border: 1px solid black;
  width: 63rem;
  height: 800px;
  overflow: auto;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
